.info-page-content {
  padding: 50px 20px 20px 20px;
  font-size: 18px;

  h1 {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 5px;
  }

  div,
  ul,
  ol,
  p {
    margin-bottom: 8px;
  }

  .preview-image {
    float: right;
    margin: 5px;
    max-width: 450px;
    width: 30%;
    border: 2px solid black;
  }

  .evil-loyalty-icon,
  .good-loyalty-icon {
    display: inline-block;
    margin-bottom: 0;
    width: 45px;
    height: 45px;
    background-size: contain;
    vertical-align: text-bottom;
    border-radius: 50%;
  }

  .good-loyalty-icon {
    background-image: url('@/assets/blue_team_no_background.webp');
    border: 1px solid rgb(var(--v-theme-info));
  }

  .evil-loyalty-icon {
    background-image: url('@/assets/red_team_no_background.webp');
    border: 1px solid rgb(var(--v-theme-error));
  }
}
