.info-page-content {
  padding: 50px 20px 20px 20px;
  font-size: 18px;

  h1 {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 5px;
  }

  div,
  ul,
  ol,
  p {
    margin-bottom: 8px;
  }

  .preview-image {
    float: right;
    margin: 5px;
    max-width: 450px;
    width: 30%;
    border: 2px solid black;
  }
}
